body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.form-group{
margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select{
width:300px;
}

input[type="textarea"]{
width:300px;
}