
header{
background: linear-gradient(to right, black 20%, purple 60%, black 80%);
color: white;
text-align: center;
align-items: center;
justify-content: center;
height:100px;
}
.sec{
font-size : 25px;
letter-spacing: 4px;
}
h1{
font-size : 50px;
}
.address{
text-align: center;
color: blue;
}
.left {
            flex: 1; 
            background-color: grey; 
            color: black;
            padding: 20px;
            box-sizing: border-box;
	    text-align: left;
        }

.right {
            flex: 3;
            background-color: white; 
            color: black;
            padding: 20px;
            box-sizing: border-box;
        }
.body{
display : flex;
height: 100%;
}
.sub-headers{
text-align : left;
color: purple;
}

h3{
font-size : 30px;
}

a,a:visited{
color: purple;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

a:active{
text-decoration : underline;
}

.title{
color: blue;
}

.content{
color: #009FBD;
font-size: 25px;
}

table{
border-collapse: collapse;
border: 2px solid black;
text-align: center;
font-weight: bold;
table-layout: fixed;
width:80%;
}

th,td{
border: 2px solid black;
padding: 8px 10px;
background-color: grey;
}
.lab{
border-collapse: collapse;
border: 1px solid black;
text-align: left;
font-weight: normal;
table-layout: auto;
width:100%;
th,td{
border: 1px solid black;
padding: 8px 10px;
background-color: white;
}
}